.home-section {
  color: white;
  margin-top: 70px;
}

.intro-section {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.home-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.img-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
