/* .container {
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
} */

.background-section {
  background-image: url("./assets/background8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  /* display: flex;  */
  align-items: center;
  /* padding: 50px 20px; */
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Added css to push footer at the bottom */
.app-wrapper > *:nth-last-child(1) {
  margin-top: auto;
}
